.posts-container {
  padding: 20px;
}

.post-container {
  position: relative;

  width: 250px;
  padding: 20px;

  border: 1px solid;
}

.post-container:nth-of-type(n + 2) {
  margin-top: 5px;
}

.post-delete {
  position: absolute;
  top: 5px;
  right: 5px;

  cursor: pointer;
}